@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background: #000000;
    color: white;
}
html{
    scroll-behavior: smooth;
}

.hero-img{
    width:600px;
    height:600px;
    object-fit: cover;
}

.hero-header{
     padding: 5rem 0rem 2rem 2rem;
     color: white;
     margin-top: 5rem;
     font-family: 'Roboto', sans-serif;
}

.header2{
    font-size: 50px;
}

.hero-name{
    color: rgb(158, 104, 18);
    /* background: linear-gradient(to right ,rgb(67,124,205),rgb(69,214,202));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    animation: fade 2s ease-in-out infinite;
}

@keyframes fade{
    0%{
        color: green;
    }
    50%{
      color: orange;
    }
    100%{
        color: blue;
    }
    
}
.hero-greet{
    color: rgb(158, 104, 18);
}

.hero-btn{
    padding: .8rem;
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.hero-btn:hover{
    background:rgb(158, 104, 18);
}

.about-info{
    text-align: justify;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.aboutDetails{
    padding: 10rem 0rem 2rem 3rem;
    
}
.aboutDetails h5{
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width : 768px) {
    .aboutDetails{
        padding: 5rem 0rem 2rem 5rem; 
    }
    .dounBtn{
       margin-left: 30px;
    }
    .hero-img{
        width: 400px;
        height: 400px;
    }
}

